.add-wallet-card{
    // width: 80%;
    width: 300px;
    height: 245px;
    margin: 1%;
    // padding:0px 5% 0px 5%;
    border: 2px dashed blue;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wallet-add-container{
    border-radius: 50%;
    background-color:lightgrey;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallet-add-icon{
    font-size: 30px;
    color: grey;
}
.digital-wallet-add-heading{
    color: grey;
    font-size: 17px;
    font-weight: 630;
}